NEXT_PUBLIC_GEMINI_API_KEY=

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root@localhost
MYSQL_PASSWORD=
MYSQL_DATABASE=voicetask

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
